*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: Shekasteh_Beta;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url('../public/img/img-3.jpg')  ;
    line-height: 35px;
}

.header{
    padding-bottom: 200px;
    padding-top: 100px;
    text-shadow: 5px 5px #aaa;
    font-size: 6vw;
    color: #fff;
}

.show-advice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 100px;
    border-radius: 25px;
    box-shadow: 8px 8px 8px #aaa ;
    color: #fff;
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.show-advice h2   {
    display: flex;
    justify-content: center;
}

.advice-text{
    font-size: 35px;
    margin: 20px 0;
    padding-bottom: 25px;
    text-align: center;
    width: 600px;
    word-wrap: break-word;
}

.btn{
    font-family: Shekasteh_Beta;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    padding: 20px;
    font-size:30px ;
    font-weight: 900;
    color: #fff;
    background-color: rgb(74, 182, 74);
    transition: .3s;
}

.btn:hover{
    background-color: rgb(209, 184, 40);
    color: #fff;
}
